<app-modal [id]="'edit-modal_' + originalTask.id">
  <ng-container header>
    <h1>Edit</h1>
  </ng-container>
  <ng-container body>
    <form
      (ngSubmit)="onSubmit(formState)"
      class="grid gap-4 sm:grid-cols-2 sm:gap-6"
      #formState="ngForm"
    >
      <div class="sm:col-span-2">
        <label
          for="text"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Task</label
        >
        <input
          type="text"
          name="text"
          id="text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Type your task here..."
          required
          [(ngModel)]="originalTask.text"
        />
      </div>
      <div class="w-full">
        <label
          for="dueDate"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Due Date</label
        >

        <div class="relative max-w-sm">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
              />
            </svg>
          </div>
          <input
            datepicker
            type="text"
            name="dueDate"
            id="dueDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Select due date"
            [(ngModel)]="originalTask.dueDate"
          />
        </div>
      </div>
      <div>
        <label
          for="completed"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Status</label
        >
        <select
          name="completed"
          id="completed"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          [(ngModel)]="originalTask.completed"
        >
          <option [value]="true">Completed</option>
          <option [value]="false">Todo</option>
        </select>
      </div>
      <div class="sm:col-span-2">
        <label
          for="description"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Description</label
        >
        <textarea
          id="description"
          rows="8"
          name="description"
          [(ngModel)]="originalTask.description"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
          placeholder="Your description here"
        ></textarea>
      </div>
      <button
        type="submit"
        [attr.data-modal-hide]="'edit-modal_' + originalTask.id"
        [disabled]="!formState.valid"
        class="col-start-2 flex justify-self-end text-center px-5 py-2.5 text-sm font-medium disabled:bg-blue-300 text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
      >
        Edit
      </button>
    </form>
  </ng-container>
</app-modal>
